.admin-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--card-background);
    padding: .5rem 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--text-secondary);
    font-family: var(--font-body);
}
.admin-container h1 {
   font-family: var(--font-display);
   font-size: 2.5rem;
   color: var(--accent-primary);
   text-align: start;
}
.admin-dashboard {
    padding: 1rem;
    background: var(--card-background);
    color: var(--text-primary);
    border-radius: 0.5rem;
    font-family: var(--font-body);
    width: calc(100% - 2rem);
}

.dashboard-navigation {
    display: flex;
    gap: .5rem;
    margin-bottom: 2rem;
}

.dashboard-navigation .button {
    flex: 1;
    background: var(--button-primary);
    color: var(--text-secondary);
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dashboard-navigation .button:hover {
    background: var(--button-hover);
}
.dashboard-stats {
    display: flex;
    justify-content: flex-start;
    background-color: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 1rem 0;
    scroll-behavior: smooth;
}
.dashboard-stats:hover {
    overflow-x: auto; /* Keep horizontal scroll visible on hover */
}
.stats-scroll {
    display: flex;
    gap: 1rem;
    animation: scrollLeft 15s linear;
    position: relative;
    will-change: transform;
}

.stat-card {
    flex: 0 0 auto; 
    width: 150px; 
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: .5rem;
    background-color: var(--card-background);
}
/* Animation */
@keyframes scrollLeft {
    0% {
        transform: translateX(0); /* Start at the beginning */
    }
    100% {
        transform: translateX(-1%); /* Adjust based on the total width */
    }
}

/* Optional: Pause on hover */
.dashboard-stats:hover .stats-scroll {
    animation-play-state: paused;
}

.stat-icon {
    font-size: 2rem;
    color: var(--accent-primary);
}

.stat-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.stat-title {
    font-size: 1rem;
    margin: 0;
    color: var(--text-primary);
}

.stat-value {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--accent-secondary);
}
.dashboard-stats::-webkit-scrollbar {
    height: 8px;
}

.dashboard-stats::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.dashboard-stats::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}