footer {
    color: var(--text-secondary);
    background-color: var(--card-background);
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid var(--border);
    /* position: fixed; */ /* Blocks view on for example cocktail page. Can't access the submit button */ /* Temporary fix */
    bottom: 0;
    width: 100%;
  }
  
  footer a {
    color: var(--text-link);
    text-decoration: none;
  }
  
  footer a:hover {
    color: var(--accent-hover);
  }
  
  footer p {
    margin: 0;
}