footer {
  color: var(--text-primary);
  background-color: var(--background);
  padding: 0;
  text-align: center;
  font-size: 0.9rem;
  border-top: 1px solid var(--border);
  position: fixed;
  bottom: -5%;
  width: 100vw;
  z-index: 1001;
  & a {
    color: var(--text-link);
    text-decoration: none;
    & :hover {
      color: var(--accent-hover);
    }
  }
  & p {
    margin: 0;
  }
  
  
}
