.container {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    height: calc(100vh - 5rem);
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    & .container__main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        justify-content: center;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    & .container__left {
        display: flex;
        flex-direction: column;
        background: var(--card-radial-gradient);
        color: var(--text-secondary);
        min-width: 20dvw;
        padding: 0 1rem;
        max-height: 95dvh;
        gap: 1rem;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    & .container__right{
        min-width: 20dvw;
        max-height: 95dvh;
        background: var(--card-radial-gradient);    
        color: var(--text-secondary);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 1rem;
    }
}

.category-sidebar {
    background: var(--card-radial-gradient);
    padding: .5rem 1rem;
    color: var(--text-primary);
    border-radius: 10px;
    padding-bottom: 1.5rem;
    & h3 {
        color: var(--accent-primary);
        letter-spacing: .2rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    & a {
        color: var(--text-primary);
        background: var(--lcard-linear-gradient);
        display: inline-block;
        padding-left: .5rem;
        width: calc(100% - .5rem);
        font-size: 1.1rem;
    }
    & a:hover {
        color: var(--accent-primary);
    }
}

.sort-options {
    background-color: var(--background);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: .5rem 0;
    border-radius: 10px;
    & a {
        padding: .2rem .5rem;
    }
}

.sidebar {
    width: 200px;
}

.main-content {
    flex-grow: 1;
}