.content-wrapper {
    display: flex;
    gap: 20px;
    padding: .5 1rem;
}

main {
    width: 60vw;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
}

aside {
    width: 20vw;
    color: var(--text-secondary);
}

.leftSidebar {
    background-color: var(--nav-background);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: .5rem 1rem;
}

.category-sidebar {
    background-color: var(--background);
    padding: .5rem 1rem;
    color: var(--text-primary);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.category-sidebar a {
    color: var(--text-primary);
}

.sort-options {
    background-color: var(--card-background);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: .5rem 0;
}

aside h3 {
    color: var(--accent-primary);
    letter-spacing: .2rem;
    font-size: 1.5rem;
}

.sidebar {
    width: 200px;
}

.main-content {
    flex-grow: 1;
}