.recipe-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 2rem ;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--accent-primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
}

.recipe-wrapper h3 {
    margin: 0.5rem 0;
    color: var(--text-primary);
}

.recipe-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
}

.recipe-card {
    background-color: var(--card-background);
    padding: 0.5rem;
    border-radius: .5rem;
}

.profile-picture img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
}