.profile__container {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    height: 85vh;
    & #edit-profile-form {
        width: 100%;
        display: none;
        position:fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--overlay);
        z-index: 100;
        & .form-container {
         background: var(--lcard-linear-gradient);
        }
    }
    & .profile__main {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        & .profile-info {
            background: var(--lcard-linear-gradient);
            border-radius: 10px;
            padding: var(--base-padding);
        }
        & .edit-delete {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }
    & .profile-picture {
        display: flex;
        flex-direction: column;
        justify-content: center;
        & img {
            align-self: center;
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }
        & .follow-stats {
            text-align: center;
        }
    }
    & .profile__recipes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-grow: 1;
        margin: 0;
        border-radius: 1rem;
        background: var(--card-linear-gradient);
        padding: var(--base-padding);
        & .recipe-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 1rem;
            flex-wrap: wrap;
            border-radius: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            white-space: nowrap;
            scroll-behavior: smooth;
            overflow: hidden;
            & .recipe-card {
                flex: 0 0 auto;
                width: 20vw;
                max-width: 300px;
                background: var(--card-linear-gradient);
                padding: 0.5rem;
                border-radius: 0.5rem;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                & a {
                    position: relative;
                    & h3 {
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        background: var(--card-linear-gradient);
                        border-radius: .5rem .5rem 0 0 ;
                    }
                }
                & img {
                    width: 100%;
                    aspect-ratio: 4/3;
                }
               
                & .recipe-dates {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
.recipe-wrapper h3 {
    margin: 0.5rem 0;
    color: var(--text-primary);
}

.recipe-card {
    background-color: var(--card-background);
    padding: 0.5rem;
    border-radius: 0.5rem;
}


