@import '../css/pages/cocktails.css';
@import '../css/pages/footer.css';
@import '../css/pages/profile.css'; 
@import '../css/pages/about.css';
@import '../css/components/button.css';
@import '../css/components/navbar.css';
@import '../css/components/forms.css';
@import '../css/components/comments.css';
@import '../css/components/likes.css';
@import '../css/components/search.css';
@import '../css/components/cards.css';

:root {
    /* Colors for Light Mode */
    --background: #f2f2f2;
    --nav-background: #1D2227;
    --text-primary: #303841;
    --text-secondary: #f2f2f2;
    --text-link: #fad325;
    --accent-primary: #fad325;
    --accent-hover: #fce770;
    --accent-secondary: #fce770;
    --surface: #e0e0e0;
    --card-background: #303841d3;
    --card-background-hover: #858e98;
    --button-primary: #fad325;
    --button-primary-transparent: rgba(250, 211, 37, 0.7);
    --button-secondary: #303841;
    --button-hover: #fdf6a8;
    --border: #d0d0d0;
    --success: #69bf69;
    --warning: #f2994a;
    --error: #d64646;
    --disabled-background: #e5e5e5;
    --disabled-text: #b0b0b0;
    /* Font Families */
    --font-display: "Playfair Display", serif; /* For headings and display text */
    --font-body: "Lato", sans-serif; /* For body text */
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      /* Colors for Dark Mode */
      --background: #303841;
      --text-primary: #f2f2f2;
      --text-secondary: #303841;
      --text-link: #fad325;
      --accent-primary: #fad325;
      --accent-hover: #fce770;
      --accent-secondary: #fce770;
      --surface: #3f4a52;
      --card-background: #3f4a52b6;
      --button-primary: #fad325;
      --button-secondary: #303841;
      --button-hover: #fcd77b;
      --border: #405056;
      --success: #69bf69;
      --warning: #f2994a;
      --error: #d64646;
      --disabled-background: #50546a;
      --disabled-text: #75807d;
    }
  }
  body {
    background-color: var(--card-background);
    color: var(--text-primary);
    font-family: var(--font-body); /* Use body font */
    letter-spacing: 0.02em;
    margin: 0;
  }
  .alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: var(--error);
    font-size: 0.9rem;
  }
  .success {
    color: var(--success);
  }
  main {
   display: flex;
    padding: 20px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
    color: var(--text-primary); 
    letter-spacing: 0.03em;
  }
  
  input {
    background-color: var(--button-primary-transparent);
  }
 
a {
    color: var(--text-link);
    text-decoration: none;
    transition: color 0.3s;
  }
  
  a:hover {
    color: var(--accent-hover);
}
 
