@import "../css/pages/cocktails.css";
@import "../css/pages/footer.css";
@import "../css/pages/profile.css";
@import "../css/pages/about.css";
@import "../css/pages/home.css";
@import "../css/pages/admin.css";
@import "../css/components/jquery-ui.css";
@import "../css/components/tags.css";
@import "../css/components/control-panel.css";
@import "../css/components/button.css";
@import "../css/components/navbar.css";
@import "../css/components/forms.css";
@import "../css/components/comments.css";
@import "../css/components/likes.css";
@import "../css/components/search.css";
@import "../css/components/cards.css";
@import "../css/components/ingredients.css";
@import "../css/components/user-management.css";

:root {
  /* Colors for Light Mode */
  --background: #f2f2f2;
  --nav-background: #e0e0e0;
  --text-primary: #1c2126;
  --text-secondary: #f2f2f2;
  --text-link: #fad325;
  --accent-primary: #fad325;
  --accent-hover: #fce770;
  --accent-secondary: #fce770;
  --surface: #e0e0e0;
  --comments-background: #e0e0e0;
  --comment-text: #f2f2f2dc;
  --card-background: #e0e0e0eb;
  --image-overlay: #bec6cfbf;
  --button-primary: #303841;
  --button-primary-transparent: #303841bd;
  --button-secondary: #303841;
  --button-hover: #fad325c7;
  --border: #fad21e;
  --success: #69bf69;
  --warning: #f2994a;
  --error: #d64646;
  --disabled-background: #e5e5e5;
  --disabled-text: #b0b0b0;
  /* Font Families */
  --font-display: "Playfair Display", serif; /* For headings and display text */
  --font-body: "Lato", sans-serif; /* For body text */
  --linearPrimarySecondary: linear-gradient(#bec6cf, #1f1f1f);
  --linearPrimaryAccent: linear-gradient(#bec6cf, #dcb404);
  --linearSecondaryAccent: linear-gradient(#1f1f1f, #dcb404);
  --radialPrimarySecondary: radial-gradient(#bec6cf, #1f1f1f);
  --radialPrimaryAccent: radial-gradient(#bec6cf, #dcb404);
  --radialSecondaryAccent: radial-gradient(#fad325, #f2f2f2);
  --card-radial-gradient: radial-gradient(circle, rgba(242,242,242,1) 0%, rgba(224,224,224,1) 70%);
  --card-linear-gradient: linear-gradient(347deg, rgba(242,242,242,1) 0%, rgba(224,224,224,1) 70%);
  --lcard-linear-gradient: linear-gradient(347deg, rgba(224,224,224,1) 0%, rgba(242,242,242,1) 70%);
  
  --base-padding: 1rem; 
  --border-radius: clamp(0.5rem, calc(var(--base-padding) * 0.5), 1rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors for Dark Mode */
    --background: #1f1f1f;
    --surface: #1f1f1f;
    --nav-background: #1f1f1f;
    --text-primary: #f2f2f2;
    --text-secondary: #bec6cf;
    --text-link: #dcb404;
    --accent-primary: #dcb404;
    --accent-hover: #dcb404;
    --accent-secondary: #dcb404;
    --comments-background: #1f1f1f;
    --comment-text: #f2f2f2dc;
    --card-background: #1f1f1feb;
    --card-background-hover: #858e98;
    --button-primary: #bec6cf;
    --button-primary-transparent: #1f1f1fdc;
    --button-secondary: #1f1f1f;
    --button-hover: #dcb404d1;
    --border: #af9004;
    --success: #409640;
    --warning: #b55b0d;
    --error: #b82828;
    --image-overlay: #1f1f1fbf;
    --disabled-background: #50546a;
    --disabled-text: #75807d;
    --radialSecondaryAccent: radial-gradient(#1f1f1f, #dcb404);
    --card-radial-gradient: radial-gradient(circle, rgba(28,33,38,1) 0%, rgba(48,56,65,1) 70%);
    --card-linear-gradient: linear-gradient(347deg, rgba(28,33,38,1) 0%, rgba(48,56,65,1) 70%);
    --lcard-linear-gradient: linear-gradient(347deg, rgba(48,56,65,1) 0%, rgba(28,33,38,1) 70%);
  }

}
body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font-body); /* Use body font */
  letter-spacing: 0.02em;
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  letter-spacing: 0.03em;
  margin: 0;
}

input {
  background-color: var(--surface);
}

a {
  color: var(--text-primary);
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.2rem;
  padding: .1rem 0;
  border-radius: 10px;
}

li {
  list-style: none;
}

.alert {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  color: var(--error);
  font-size: 0.9rem;
  background-color: var(--nav-background);
}

.success {
  color: var(--success);
}


