.cocktailGrid {
    display: flex;

}

.cocktailContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    background-color: var(--card-background);
    padding: .1rem .2rem;
}

.cocktailCard {
    width: 95%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--card-background);
    position: relative;
}

.cocktailInfo {
    display: flex;
    justify-content: start;
    padding: 1rem;
    & h3 {
        margin: 0;
    }
}

.buttonWrapper {
    display: flex;
    position: absolute;
    justify-content: end;
    width: 100%;
}

.cocktailImage {
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
    border-radius: 6px 6px 0 0;
}

.creatorInfo {
    position: relative;
    gap: 1rem;
    display: flex;
    padding: .5rem;
}

.coctailInfo h3 {
    color: var(--accent-primary);
}

.creatorPicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.randomButton {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

.cocktailInfo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: var(--nav-background);
   
}

/*  Sticky Cocktail  */

.stickyContainer {
    position: relative;
    display: flex;
    justify-content: start;
}

.stickyContent {
    background-color: var(--card-background);
    color: var(--text-primary);
    padding: 0 .5rem;
    top: 0;
    bottom: 0;
    & h3 {
        font-size: 1.2rem;
    }
}

.stickyCard {
    padding: .5rem;
    overflow: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: start;
    background-color: var(--accent-primary);
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.stickyCard img {
    object-fit: cover;
    height: auto;
    border-radius: 4px;
}

.stickyCard h2 {
    background-color: var(--card-background);
    font-size: 1rem;
    padding: .5rem;
    color: var(--accent-primary);
    top: 0;
}

.stickyCard h3 {
    margin: 0;
}

.stickyCard p {
    margin: 0;
    text-overflow: ellipsis;
}

.stickyMediaWrapper {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    justify-content: center;
    overflow: hidden;
}

.recipeCard h3 {
    color: var(--accent-primary);

}