.cocktailGrid {
    display: flex;
}

.cocktailCard {
    width: 95%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: var(--background);
    position: relative;
    & .creatorInfo {
        position: relative;
        gap: 1rem;
        display: flex;   
        padding: .5rem ;
        background: var(--card-linear-gradient);
        border-radius: 8px 8px 0 0;
        a {
            z-index: 1000;
            align-self: center;
        }
    }
    & .cocktailInfo {
        display: flex;
        flex-direction: row;
        justify-content: start;
        background-color: var(--button-primary-transparent);
        border-radius: 10px;
        & h3 {
            color: var(--accent-primary);
        }
    }
    & .cocktailTitle {
        display: flex;
        justify-content: start;
        background: var(--card-linear-gradient);
        border-radius: 8px 8px 0 0;
        padding: .5rem;
        color: var(--text-primary);
        & h3 {
            letter-spacing: .2rem;
        }
    }
    & .cocktailMeta {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem;
    }

    & .cocktailInfo {
        display: flex;
        justify-content: start;
        padding: 1rem;
        & h3 {
            margin: 0;
        }
    }
    .orderby {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        color: var(--text-primary);
        
    }
    & .buttonWrapper {
        display: flex;
        position: absolute;
        justify-content: end;
        width: 100%;
    }
    
    & .cocktailImage {
        width: 100%;
        object-fit: contain;
        border-bottom: 1px solid var(--accent-primary);
        border-radius: 6px 6px 0 0;
    }
    & p {
        text-align: start;
        padding-left: .5rem;
    }
}

.creatorPicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.randomButton {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

/*  Sticky Cocktail  */

.stickyContainer {
    position: relative;
    display: flex;
    justify-content: start;
    padding: var(--base-padding);
    & .stickyCard {
        padding: 0;
        overflow: auto;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        text-align: start;
        background: var(--card-radial-gradient);
        display: flex;
        align-items: stretch;
        flex-direction: column;
        & h2 {
            color: var(--text-primary);
            font-size: 1rem;
            padding: .5rem;
            background-color: var(--accent-primary);
            top: 0;
            border-radius: 8px 8px 0 0;
        }
    
        & .stickyContent {
            background-color: var(--background);
            color: var(--text-primary);
            padding: 0 .5rem;
            top: 0;
            bottom: 0;
            border-radius: 0 0 8px 8px;
            & a h3 {
                font-size: 1rem;
                margin: 0;
            }
        }
        
        & img {
            object-fit: cover;
            height: auto;
            border-radius: 4px;
        }
        & h3 {
            margin: 0;
            padding: .5rem 0 0 0;
        }
        & a :hover {
            color: var(--text-primary);
        }
        & p {
            margin: 0;
            text-overflow: ellipsis;
        }
        @media screen and (max-width: 768px) {
           display: none;
            
        } 
    }
}

.stickyMediaWrapper {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    justify-content: center;
    overflow: hidden;
}

.recipeCard {
    height: 25dvh;  
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    & :nth-child(1) {
        position: absolute;
        z-index: 2;
        background-color: var(--image-overlay);
        padding: .2rem .5rem;
        bottom: 0;

        display: flex;
        flex-direction: column;
        & h3 {
            position: relative;
            color: var(--text-primary);
            padding: 0;
        }
        & a {
            font-family: var(--font-display);
            font-size: 1rem;
            color: var(--accent-primary);
        }
    }
}

