/* General Reset for Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* General Form Styling */
form {
    & .submit-container {
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
    }
    & input[type="text"],
    & input[type="number"],
    & select,
    & textarea {
        padding: 0.5rem;
        border: 0.1rem solid var(--border);
        border-radius: 0.2rem;
        font-family: var(--font-body);
        color: var(--text-primary);
        background: var(--surface);
        resize: vertical;
    }
}

/* Form Container */
.form-container {
    padding: var(--base-padding);
    background: var(--card-linear-gradient);
    color: var(--text-primary);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    font-family: var(--font-body);
    margin: 0 auto;
    overflow-y: auto;

    & h2 {
        color: var(--accent-primary);
        font-family: var(--font-display);
        font-size: 1.8rem;
        text-align: start;
        margin-bottom: 0.5rem;
    }
    & h3 {
        color: var(--text-primary);
        font-family: var(--font-display);
        font-weight: bold;
        text-align: start;
        margin-bottom: 0.5rem;
    }
    & .category-difficulty-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        & select {
            background-color: var(--surface);
            color: var(--text-primary);
            flex-grow: 1;
        }
    }
    & .form-group {
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        & label {
            display: block;
            font-family: var(--font-display);
            font-weight: bold;
            margin-bottom: 0.8rem;
            pointer-events: none;
        }

        & input[type="text"]:focus,
        & input[type="number"]:focus,
        & select:focus,
        & textarea:focus {
            border-color: var(--accent-primary);
            outline: none;
        }
    }
    & textarea {
        height: 2rem;
        overflow: hidden;
        font-family: var(--font-body);
        box-sizing: border-box;
        transition: height 0.5s;

        &:focus {
            height: 8rem;
            overflow: auto;
        }
    }
    & .sticky-cocktail {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        background: var(--lcard-linear-gradient);
        box-shadow: 0 0.5 -1px rgba(0, 0, 0, 0.1);
        padding: var(--button-padding);
        width: 100%;
        border-radius: 5px;

        & input[type="checkbox"] {
            margin: 0;
            accent-color: var(--accent-primary);
            cursor: pointer;
        }
        & label {
            position: relative;
            cursor: pointer;

            &::after {
                content: "Set cocktail as sticky to feature it prominently.";
                position: absolute;
                top: calc(100% + 0.5rem);
                left: 50%;
                transform: translateX(-50%);
                background: var(--background-secondary);
                color: var(--text-primary);
                padding: 0.5rem;
                border-radius: 5px;
                font-size: 0.9rem;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
                white-space: nowrap;
                opacity: 0;
                visibility: hidden;
                transition:
                    opacity 0.4s ease,
                    visibility 0.2s ease;
                z-index: 10;
            }

            &:hover::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    & input[type="file"] {
        margin-bottom: 1.5rem;
        padding: 1rem;
        flex-grow: 1;
        width: 100%;
    }
}

.auth-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    height: 65dvh;
    background: var(--card-linear-gradient);
    border-radius: 0.5rem;
    color: var(--text-primary);
    gap: 1rem;
    & form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
/* Buttons */
button,
input[type="submit"] {
    background-color: var(--button-primary);
    color: var(--text-secondary);
    font-weight: bold;
    padding: var(--button-padding);
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: var(--font-body);

    &:hover {
        background-color: var(--button-hover);
    }
}

#addIngredientButton,
#addStepButton {
    display: inline-block;
    background: var(--button-primary);
    color: var(--text-secondary);
    padding: 0.5rem 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    justify-content: flex-end;
    text-align: start;
    margin: 1rem 0;
    width: clamp(150px, 20vw, 200px);

    &:hover {
        background-color: var(--button-hover);
    }
}

/* Error Messages */
.error-messages {
    color: var(--error);
    font-weight: bold;
    margin-top: 1.5rem;
    list-style: none;
}

/* Ingredients and Steps */
.ingredientsContainer,
.stepContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    flex-wrap: wrap;

    & .ingredient-input,
    & .step-input {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;
        border-radius: 0.5rem;
        transition: all 0.3s ease;
        flex-grow: 1;

        & label {
            font-size: 0.9rem;
            color: var(--text-primary);
            font-family: var(--font-display);
        }

        & input,
        & select,
        & textarea {
            font-size: 1rem;
            border-radius: 0.4rem;
            box-sizing: border-box;
            flex-grow: 1;
        }

        & textarea {
            resize: vertical;
            min-height: 10vh;
            max-height: 20vh;
        }

        & .ingredient-name-container {
            display: flex;
            flex-direction: column;
            flex-shrink: 1;
            gap: 0.4rem;
        }

        & .quantity-unit-container {
            display: flex;
            gap: 0.4rem;
            flex-wrap: wrap;

            & .quantity-input,
            & .unit-input {
                flex: 1;
                gap: 0.5rem;
            }
            & .quantity-input {
                appearance: none; /* Removes native styling like spinners */
                -moz-appearance: textfield; /* Removes spinners in Firefox */
                padding: 0.5rem;
                border: 1px solid var(--border-color, #ccc); /* Example border */
                border-radius: var(--button-radius, 4px); /* Rounded corners */
                font-size: 1rem;
                outline: none;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

                &:focus {
                    border-color: var(--accent-primary, #007bff); /* Highlight border on focus */
                    box-shadow: 0 0 4px var(--accent-primary, #007bff); /* Subtle glow */
                }
            }
        }

        & .delete-ingredient-button,
        & .delete-step-button {
            position: absolute;
            top: 0;
            right: 0rem;
            background: none;
            border: none;
            font-size: 0.8rem;
            color: var(--error);
            cursor: pointer;

            &:hover {
                color: var(--error);
            }
        }
    }
}

.stepContainer {
    flex-direction: row;
}

.editCommentForm {
    display: flex;
    flex-direction: column;
    & textare {
        flex-grow: 1;
    }
}

#editFormContainer {
    padding: var(--base-padding);
}