/* General Reset for Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* General Form Styling */
form {
    
    & .submit-container {
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
    }
}

/* Form Container */
.form-container {
    max-height: 90dvh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background: var(--card-linear-gradient);
    color: var(--text-primary);
    padding: 1%;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    font-family: var(--font-body);
    align-items: center;
    & h2 {
        color: var(--accent-primary);
        font-family: var(--font-display);
        font-size: 1.8rem; 
        text-align: start;
        margin-bottom: .5rem;
    }
    & h3 {
        color: var(--text-primary);
        font-family: var(--font-display);
        font-weight: bold;
        text-align: start;
        margin-bottom: .5rem;
    }
    & .category-difficulty-container {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        & select {
          background-color: var(--button-primary);
          color: var(--text-secondary);
        }
    }
    & .form-group {
        margin-bottom: .5rem;
        display: flex;
        flex-direction: column;
        & label {
            display: block;
            font-family: var(--font-display);
            font-weight: bold;
            color: var(--text-primary);
            margin-bottom: 0.8rem;
        }

        & input[type="text"],
        & input[type="number"],
        & select,
        & textarea {
            padding: .5rem;
            border: 0.1rem solid var(--border);
            border-radius: 0.2rem;
            font-family: var(--font-body);
            color: var(--text-primary);
            background: var(--card-linear-gradient);
            resize: vertical;
            
        }

        & input[type="text"]:focus,
        & input[type="number"]:focus,
        & select:focus,
        & textarea:focus {
            border-color: var(--accent-primary);
            outline: none;
        }
    }
    textarea {
        height: 2rem;
        overflow: hidden;
        font-family: var(--font-body);
        box-sizing: border-box;
        transition: height 0.5s;
        
        &:focus{
            height: 8rem;
            overflow: auto;
        }  
    }
    & .sticky-cocktail {
        display: flex;
        justify-content: center;
        gap: .5rem;
        background: var(--lcard-linear-gradient);
        box-shadow: 0 0.5 -1px rgba(0, 0, 0, 0.1);
        padding: var(--button-padding);
        width: 100%;
        border-radius: 5px;
      
        & input[type="checkbox"] {
          margin: 0; 
          accent-color: var(--accent-primary);
          cursor: pointer;
      }
      & label {
        position: relative;
        cursor: pointer;

        &::after {
            content: "Set cocktail as sticky to feature it prominently.";
            position: absolute;
            top: calc(100% + 0.5rem); 
            left: 50%;
            transform: translateX(-50%);
            background: var(--background-secondary);
            color: var(--text-primary);
            padding: 0.5rem;
            border-radius: 5px;
            font-size: 0.9rem;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            white-space: nowrap; 
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.4s ease, visibility 0.2s ease;
            z-index: 10;
        }

        &:hover::after {
            opacity: 1;
            visibility: visible;
        }
    }
    }
    & input[type="file"] {
        margin-bottom: 1.5rem;
        padding: 1rem;
        flex-grow: 1;
        width: 100%;
    }
}

/* Buttons */
button,
input[type="submit"] {
    background-color: var(--button-primary);
    color: var(--text-secondary);
    font-weight: bold;
    padding: var(--button-padding);
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: var(--font-body);

    &:hover {
        background-color: var(--button-hover);
    }
}

#addIngredientButton,
#addStepButton {
    display: inline-block;
    background: var(--button-primary);
    color: var(--text-secondary);
    padding: 0.5rem 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    justify-content: flex-end;
    text-align: start;
  margin: 1rem 0;
  width: clamp(150px, 20vw, 200px);

    &:hover {
        background-color: var(--button-hover);
    }
}

/* Error Messages */
.error-messages {
    color: var(--error);
    font-weight: bold;
    margin-top: 1.5rem;
    list-style: none;
}

/* Ingredients and Steps */
.ingredientsContainer,
.stepContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & .ingredient-input,
    & .step-input {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: 0.1rem solid var(--border);
        border-radius: 0.5rem;
        background-color: var(--background);
        transition: all 0.3s ease;

        & label {
            font-size: 1rem;
            color: var(--text-primary);
        }

        & input,
        & select,
        & textarea {
            font-size: 1rem;
            border: 0.1rem solid #ccc;
            border-radius: 0.4rem;
            box-sizing: border-box;
        }

        & textarea {
            resize: vertical; 
            min-height: 10vh; 
            max-height: 20vh; 
        }

        & .ingredient-name-container {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

        & .quantity-unit-container {
            display: flex;
            gap: .5rem;

            & .quantity-input,
            & .unit-input {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }
        }

        & .delete-ingredient-button,
        & .delete-step-button {
            position: absolute;
            top: .5rem;
            right: -.5rem;
            background: none;
            border: none;
            font-size: .8rem;
            color: var(--error);
            cursor: pointer;

            &:hover {
                color: var(--error);
            }
        }
    }
}

.editCommentForm {
    display: flex;
    flex-direction: column;
    & textare {
        flex-grow: 1;
    }
}