header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    top:0; 
    background: var(--lcard-linear-gradient); 
    padding: .5rem 1rem;
    color: var(--text-secondary);
    z-index: 1000;
    gap: 1rem;
   .theme-toggle-button {
    background: var(--lcard-linear-gradient);
    color: var(--logo-color);
   }
    & .nav-links {
        display: flex; 
    }
}
