nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative; 
    background-color: var(--nav-background); 
    padding: 10px;
    color: var(--text-secondary);
}

.nav-links {
    display: flex; 
    gap: 15px; 
}