.search-container {
    position: relative; 
    width: clamp(300px, 95vw, 1200px);
    & .search-results {
        position: absolute;
        top: 100%;
        left: 0;
        color: var(--text-primary);
        background-color: var(--card-background); 
        border: 1px solid var(--border);
        border-radius: 4px;
        z-index: 1100; 
        width: 100%;
        display: none;
    }
}

#searchInput {
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 4px;
    color: var(--text-primary);
}



.search-results div {
    padding: 10px;
    cursor: pointer;
   
}

.search-results div:hover {
    background-color: var(--accent-hover);
   & a {
    color: var(--text-secondary);
   }
}