.search-container {
  position: relative;
  width: clamp(300px, 55vw, 1200px);

  & .easy {
    background: var(--success);
    color: var(--text-primary);
    padding: var(--tag-padding);
    border: 1px solid var(--success);
    border-radius: var(--button-radius);
  }
  & .medium {
    background: var(--warning);
    color: var(--text-primary);
    padding: var(--tag-padding);
    border: 1px solid var(--warning);
    border-radius: var(--button-radius);
  }
  & .hard {
    background: var(--error);
    color: var(--primary-text);
    padding: var(--tag-padding);
    border: 1px solid var(--error);
    border-radius: var(--button-radius);
  }
  & .fa-magnifying-glass {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--accent-primary);
    pointer-events: none;
  }

  & #searchInput {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border: 1px solid var(--border);
    border-radius: var(--button-radius);
    color: var(--text-primary);
    width: 100%;
  }

  & .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--text-primary);
    background-color: var(--card-background);
    border: 1px solid var(--border);
    border-radius: var(--button-radius);
    z-index: 1100;
    width: 100%;
    display: none;

    & a {
      display: inline-block;
      width: 100%;
      border-radius: var(--button-radius);
      &:hover {
        background-color: var(--button-primary);
        transition: background-color 0.3s;
        & img {
          border: 1px solid var(--button-hover);
        }
      }
    }

    & i {
      position: relative;
    }
    & h3 {
      padding:var(--button-padding);
      color: var(--text-primary-light);
    }
    & div {
      padding: 0 1rem;
      cursor: pointer;
      gap: 1rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      
      & .suggestion-header {
        display: flex;
        gap: 1rem;
        align-items: center;
        @media screen and (max-width: 768px) {
          justify-content: space-between;
            
        }
      }
      & img {
        border: 1px solid var(--border);
        border-radius: 50%;
        & .search-cocktail {
          border-radius: var(--button-radius);
        }
      }

      & :hover {
        a {
          color: var(--text-secondary);

          img {
            border-color: var(--button-hover);
          }
        }
      }
    }

    & .user-suggestion {
      justify-content: start ;      
      width: 100%;
    }

  }
  @media screen and (max-width: 768px) {
    .search-results {
      & div {
        gap: 0.5rem;
        & .fa-solid {
          display: none;
        }
      }
    }
  }
}
