/* General Container */
/* .manage-tags-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--card-background);
    padding: .5rem 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: var(--font-body);
    color: var(--text-primary);
} */

.categories-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;

    .category-block {
        flex: 1;
        scrollbar-width: thin;
        scrollbar-color: var(--accent-primary) var(--background);
        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            background: var(--background);
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--accent-primary);
            border-radius: 5px;
            border: 2px solid var(--background);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--accent-hover);
        }

        &::-webkit-scrollbar-corner {
            background: var(--background);
        }

        .category-title {
            font-family: var(--font-display);
            font-size: 1.2rem;
            margin-bottom: 10px;
            color: var(--text-primary);
            border-bottom: 1px solid var(--border);
            padding-bottom: var(--base-padding);
            text-align: start;
            text-transform: capitalize;
        }

        ul {
            background-color: var(--card-background);
            border: 0.1rem solid var(--border);
            border-radius: 0.5rem;
            height: 40dvh;
            overflow: auto;
            padding: var(--tag-padding);

            .tag-item {
                transition: background-color 0.2s ease;
                color: var(--text-primary);
                border-bottom: 1px solid var(--border);
            }
        }
    }
}

/* List inside category block */
.tag-list {
    display: flex;
    gap: .5rem;
    overflow-y: auto; 
    margin: 0.5rem 0;
    padding: 0;
    list-style: none;
    & li {
        margin-bottom: 0.5rem;
        font-family: var(--font-body);
        font-size: 1rem;
        color: var(--text-primary);
    }
}

.tag-item:hover {
    background-color: var(--card-background-hover);
}

.tag-name {
    font-size: 1rem;
    font-weight: 500;
}

/* Button Group */
.button-group {
    display: flex;
    gap: 5px;
    & .button-error {
        background-color: var(--error);
        color: var(--text-secondary);
        &:hover {
            background-color: var(--error);
        }
    }
}

.no-tags-message {
    font-size: 1.2rem;
    text-align: center;
    color: var(--text-primary);
}

/* Notification Dialog */
#notificationDialog {
    font-family: var(--font-body);
    color: var(--text-primary);
    background-color: var(--card-background);
    border: 1px solid var(--border);
    padding: 15px;
    border-radius: 5px;
}

